In [1]:
import sqlite3 as sq
import datetime

In [12]:
conn = sq.connect("cms.db")

In [13]:
cur = conn.cursor()

In [14]:
cur.execute("""create table if not exists contact
               ( cid int primary key,
                 fname text,
                 lname text,
                 contact number,
                 email text,
                 city text
                 check ( email like '%_@_%._%')
                );""")

In [15]:
cur.execute("""create table if not exists details_log
                (
                    
                    fname text,
                    lname text,
                    newcontact number,
                    oldcontact number,
                    datetime text,
                    operation text
                    
                )""")

In [16]:
cur.execute("""create trigger if not exists insertdata
               after insert on contact
               begin
                   insert into details_log
                   values(new.fname,new.lname,new.contact,'NULL',datetime('now'),'insert');
               end;
                   """)

In [17]:
cur.execute("""create trigger if not exists deletedata
               after delete on contact
               begin
                   insert into details_log
                   values(old.fname,old.lname,'NULL',old.contact,datetime('now'),'delete');
               end;
                   """)

In [18]:
cur.execute("""create trigger if not exists deletedata
               after delete on contact
               begin
                   insert into details_log
                   values(old.fname,old.lname,'NULL',old.contact,datetime('now'),'delete');
               end;
                   """)

In [19]:
def updaterecord(cd):
    newcon=int(input("Enter new Contact Number:"))
    cur.execute(f"Update contact set contact={newcon} where cid={cd};")

In [20]:
def deleterecord(cd):
    cur.execute(f"delete from contact where cid={cd}")

In [21]:
def searchrecord(cd):
    cur.execute(f"select * from contact where cid={cd}")
    row=cur.fetchall()
    print(row)

In [22]:
cur.execute("""insert into contact values
                (1,'om','patel',9987564535,'om@gmail.com','bardoli'),
                (2,'sai','patel',8767564522,'sai@gmail.com','navsari'),
                (3,'ram','prajapati',9429075636,'ram@gmail.com','surat'),
                (4,'radha','mistry',8176565443,'radha@gmail.com','baroda'),
                (5,'shyam','sharma',8976556789,'shyam@gmail.com','mumbai');""")

In [23]:
updaterecord(2)

Enter new Contact Number:8141161675

In [24]:
deleterecord(3)

In [25]:
cur.execute("select * from contact")
row=cur.fetchall()
for i in row:
    print(f"\nID:{i[0]}\nFname:{i[1]}\nLname:{i[2]}\nContact:{i[3]}\nEmail:{i[4]}\ncity:{i[5]}")

ID:1
Fname:om
Lname:patel
Contact:9987564535
Email:om@gmail.com
city:bardoli

ID:2
Fname:sai
Lname:patel
Contact:8141161675
Email:sai@gmail.com
city:navsari

ID:4
Fname:radha
Lname:mistry
Contact:8176565443
Email:radha@gmail.com
city:baroda

ID:5
Fname:shyam
Lname:sharma
Contact:8976556789
Email:shyam@gmail.com
city:mumbai

In [26]:
cur.execute("select * from details_log")
row1=cur.fetchall()
print(row1)
for i in row1:
    print(f"\nFname:{i[0]}\nLname:{i[1]}\nNew-contact:{i[2]}\nOld-Contact:{i[3]}\nDatetime:{i[4]}\nOperation:{i[5]}")

[('om', 'patel', 9987564535, 'NULL', '2023-08-18 04:56:58', 'insert'), ('sai', 'patel', 8767564522, 'NULL', '2023-08-18 04:56:58', 'insert'), ('ram', 'prajapati', 9429075636, 'NULL', '2023-08-18 04:56:58', 'insert'), ('radha', 'mistry', 8176565443, 'NULL', '2023-08-18 04:56:58', 'insert'), ('shyam', 'sharma', 8976556789, 'NULL', '2023-08-18 04:56:58', 'insert'), ('ram', 'prajapati', 'NULL', 9429075636, '2023-08-18 04:57:26', 'delete')]

Fname:om
Lname:patel
New-contact:9987564535
Old-Contact:NULL
Datetime:2023-08-18 04:56:58
Operation:insert

Fname:sai
Lname:patel
New-contact:8767564522
Old-Contact:NULL
Datetime:2023-08-18 04:56:58
Operation:insert

Fname:ram
Lname:prajapati
New-contact:9429075636
Old-Contact:NULL
Datetime:2023-08-18 04:56:58
Operation:insert

Fname:radha
Lname:mistry
New-contact:8176565443
Old-Contact:NULL
Datetime:2023-08-18 04:56:58
Operation:insert

Fname:shyam
Lname:sharma
New-contact:8976556789
Old-Contact:NULL
Datetime:2023-08-18 04:56:58
Operation:insert

Fname:ram
Lname:prajapati
New-contact:NULL
Old-Contact:9429075636
Datetime:2023-08-18 04:57:26
Operation:delete